<%= render "common/menu" %>
<div class="container">
  <h1>Leagues</h1>
  <div class="row">
    <div class="col">
      <%= paginate @leagues %>
    </div>
  </div>
  <div class="row">
    <% @leagues.each do |league| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <%= image_tag league.logo, class: "img-responsive" %>
          <div class="card-body">
            <h5 class="card-title"><%= league.name %></h5>
            <%= link_to "Details", league, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
