<%= render "common/menu" %>
<div class="container">
  <%= image_tag @league.logo, class: "img-responsive", alt: @league.name %>
  <h1><%= @league.name %></h1>
  <p>Latest Season: <%= @league.season %></p>
  <p>Type: <%= link_to @league.type.name, @league.type %></p>
  <p>Country: <%= link_to @league.country.name, @league.country %></p>
  <% if @league.players.count > 0 %>
    <p>Players:  </p>
    <ul>
      <% @league.players.each do |player| %>
        <li>
          <%= link_to player.name, player %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No related players found.</p>
  <% end %>
</div>
