<%= render "common/menu" %>
<div class="container">
  <% if @country.name == 'World' %>
    <h2>This is an event globally. So no additional information to be shown. </h2>
  <% else %>
    <h2><%= @country.name %></h2>
    <%= image_tag @country.flag, class: "img-responsive" %>
    <p>Capital: <%= @country.capital %></p>
    <p>Region: <%= @country.region %></p>
    <p>Languages: <%= @country.languages %></p>
    <p>Population: <%= @country.population %></p>
    <p>Area: <%= @country.area %></p>
  <% end %>
</div>
