<%= render "common/menu" %>
<div class="container">
  <% if @country.name == 'World' %>
    <h2>These are the events happened globally. </h2>
  <% elsif @country.name == 'Scotland' %>
    <h2>No additional country info for <%= @country.name %>. But here are the related events</h2>
  <% else %>
    <h2><%= @country.name %></h2>
    <%= image_tag @country.flag, class: "img-responsive" %>
    <p>Capital: <%= @country.capital %></p>
    <p>Region: <%= @country.region %></p>
    <p>Languages: <%= @country.languages %></p>
    <p>Population: <%= @country.population %></p>
    <p>Area: <%= @country.area %></p>
  <% end %>
  <p>Leagues/Cups: </p>
  <ul>
    <% @country.leagues.each do |league| %>
      <li>
        <%= link_to league.name, league %>
      </li>
    <% end %>
  </ul>
</div>
